<div *ngFor="let artist of artists; index as worksId" class="artist">
     <div class="artist__img">
          <img [src]="artist.portrait" [alt]="artist.name + ' portrait'" class="img">
     </div>
     <div class="artist__content">
          <p class="artist__name">
               {{ artist.name }}
          </p>
          <p class="artist__country">
               {{ artist.country }}
          </p>
     </div>
     <button [routerLink]="['/works', worksId]" class="artist__button">Works</button>
</div>