.movements {
     &__title {
          margin: 3rem 0;
     }
     &__list {
          display: grid;
          grid-template-columns: repeat(3, minmax(30%, 1fr));
          grid-auto-rows: minmax(300px, 1fr);
          gap: 3rem;
          justify-items: center;
          padding: 1rem;
     }
}