.artists {
     &__title {
          font-size: 3rem;
          margin: 3rem 0;
          text-align: center;
     }
     &__list {
          display: flex;
          justify-content: space-around;
     }
}