.works {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-around;
}
.work {
     position: relative;
     margin: 1rem;
     &__img {
          height: auto;
          max-height: 500px;
          max-width: 90vw;
     }
     &:hover, &:focus {
          .work__content {
               opacity: 1;
          }
     }
     &__content {
          position: absolute;
          bottom: 10%;
          left: 0;
          width: 50%;
          padding: 1rem 1rem 0.5rem;
          background: rgba($color: #000, $alpha: 0.5);
          opacity: 0;
          transition: 0.5s;
     }
     & * {
          margin-bottom: 0.5rem;
     }
}