.header {
     position: fixed;
     height: 80px;
     width: 100%;
     background: black;
     color: white;
     &__container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1.5rem;
          height: 100%;
     }
}