@import './../../variables.scss';

.header {
     position: fixed;
     z-index: 9999;
     height: 80px;
     width: 100%;
     background: $bg-main;
     box-shadow: 0 0 1rem $txt-main;
     &__container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1.5rem;
          height: 100%;
     }
}